
@{
    ViewData["Title"] = "Menú Estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Menú Capacitación Estudiante</h5>
        </div>
        <br />
        <div class="btn-group">
            <a asp-controller="CapacitacionEstudiante" asp-action="Index" class="btn btn-success">Capacitación de Estudiante</a>
            <a asp-controller="RegistroEstudiante" asp-action="Create" class="btn btn-success">Registro de Estudiantes</a>
            <a asp-controller="AsistenciaEstudiante" asp-action="Create" class="btn btn-success">Asistencia de Estudiantes</a>
            <a asp-controller="EncuestaEstudiante" asp-action="Create" class="btn btn-success">Encuesta de Estudiantes</a>
        </div>
    </div>


</div>

<br />

<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Reportes</h5>
        </div>
        <br />
        <div class="btn-group">
            <a asp-controller="ReportesEstudiante" asp-action="ReporteAsistencia" class="btn btn-success">Reporte de asistencia</a>
            <a asp-controller="ReportesEstudiante" asp-action="ReporteGenero" class="btn btn-success">Reporte de género</a>
            <a asp-controller="ReportesEstudiante" asp-action="ReporteCentroUniversitario" class="btn btn-success">Reporte de centro universitario</a>
            <a asp-controller="ReportesEstudiante" asp-action="ReporteGradoAcademico" class="btn btn-success">Reporte de grado académico</a>
            <a asp-controller="ReportesEstudiante" asp-action="ReporteGradoSatisfaccion" class="btn btn-success">Reporte de grado de satisfacción</a>
            <a asp-controller="ReportesEstudiante" asp-action="ReporteSugerencias" class="btn btn-success">Reporte de sugerencias</a>
        </div>
    </div>


</div>
<br /><br />
<div class="form-group">

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver</a>
</div>

