
@{
    ViewData["Title"] = "Confirmación Actualización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">

    <div class="card-body">
        <h5 class="card-title">El registro fue actualizado correctamente</h5>


        <a asp-controller="Home" asp-action="MenuEstudiante" class="btn btn-primary small">Ir al menú</a>
    </div>

</div>

