
@model int

<td class="text-right">
    <div class="btn-group" rold="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("View/"+Model)"><i class="fas fa-search-plus"></i></a>

    </div>
</td>
